<!-- header background -->
<!-- primary color: #9333EA from https://github.com/Tailus-UI/astro-theme/blob/main/tailwind.config.cjs -->
<div
  aria-hidden="true"
  class="absolute inset-0 pointer-events-none grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
>
  <div
    class="blur-[106px] h-56 bg-gradient-to-br from-[#9333EA] to-purple-400 dark:from-blue-700"
  >
  </div>
  <div
    class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
  >
  </div>
</div>
