---
import SigninForm from "@/components/SigninForm";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";

export const prerender = false;

// const title = "Sign in";
const title = "登录";
const meta_title = "登录" + " - " + config.site.title;
---

<Base title={title} meta_title={meta_title}>
  <main
    class="py-28 px-4 gap-4 flex-1 flex flex-col items-center justify-center"
  >
    <SigninForm client:load />
  </main>
</Base>
