---
export interface Props {
  content?: string;
}

const { content } = Astro.props;
---
<span class="">
    {
      content === null ||
      content === "" ||
      content === "undefined" ||
      content === "NONE" ||
      content === "None"
        ? "暂无简介"
        : content
    }
  </span>